<% content_for :title, "Articles-IO" %>


<table>
  <div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle gap-2 mb-3 px-2 mt-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= params[:display]&.capitalize || "Active" %> Articles
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Show All", articles_path(display: "all"), class:"dropdown-item" %></li>
    <li><%= link_to "Show Active", articles_path(display: "active"), class:"dropdown-item" %></li>
    <li><%= link_to "Show Archived", articles_path(display: "archived"), class:"dropdown-item" %></li>
  </ul>
  </div>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
        <div>
          <%= button_to "Show", article, method: :get, class: "btn btn-outline-secondary" %>
          <%= button_to "Edit", edit_article_path(article), method: :get, class: "btn btn-outline-secondary" %>
          <%= render "archive_modal", article: article %>
          <%= render "delete_modal", article: article %>
        </div>
      </td>
      </tr>
  <% end %> </tbody>
</table>

<table class="table">
  </table>

<div class="d-flex gap-1 mt-2 px-1 align-items-center">  
  <span class="ms-auto text-muted">
    Showing <strong><%= @articles.count %></strong> of <%= Article.all.count %> Articles
  </span>
</div>
