<% content_for :title, "Articles-IO" %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
        <div class="button-group">
          <%= button_to "Show", article, method: :get %>
          <%= button_to "Edit", edit_article_path(article), method: :get %>
          <%= button_to "Delete", article, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this article?" } %>
        </div>
      </td>
      </tr>
  <% end %> </tbody>
</table>
