<% content_for :title, "Articles-IO" %>


<table class="table table-bordered">
  <div class="d-flex align-items-center gap-1 mb-3">
    <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle gap-1 mb-2 px-2 mt-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= params[:display]&.capitalize || "Active" %> Articles
    </button>
    <ul class="dropdown-menu">
      <li><small><%= link_to "Show All", articles_path(display: "all"), class:"dropdown-item" %></small></li>
      <li><small><%= link_to "Show Active", articles_path(display: "active"), class:"dropdown-item" %></small></li>
      <li><small><%= link_to "Show Archived", articles_path(display: "archived"), class:"dropdown-item" %></small></li>
    </ul>
    </div>
  </div>
  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

    <tbody>
    <% if @articles.any? %>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= article.created_at.strftime("%d-%m-%Y %H:%M") %></td>
          <td><%= article.updated_at.strftime("%d-%m-%Y %H:%M") %></td>
          <td>
            <div>
              <%= render "actions_dropdown", article: article %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center text-muted py-3">
          <% if params[:display] == "archived" %>
            No articles are archived
          <% else %>
            You have no articles
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  </table>

<div class="d-flex gap-1 mt-2 px-1 align-items-center">  
  <span class="ms-auto text-muted">
    Showing <strong><%= @articles.count %></strong> of <%= Article.all.count %> Articles
  </span>
</div>
