<% content_for :title, @article.title %>

</br>
<div class="row mt-4 ms-2"> <div class="col-md-6">    <div class="card">
      <div class="card-body"> <h2><b><%= @article.title %></b></h2>
        <p><%= @article.description %></p>
        <div class="line-border"></div>
        <br/>
        <div class="button-group d-flex gap-2"> <%= button_to '< Previous', article_path(@previous_record), method: :get, class: "btn btn-light" if @previous_record %>
          <%= button_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-primary" %>
          <% if @article.archived? %>
            <%= button_to "Unarchive", set_unarchived_article_path(@article), 
                method: :patch, 
                class: "btn btn-outline-secondary",
                data: { turbo_confirm: "Are you sure you want to restore this article?" } %>
          <% else %>
            <%= button_to "Archive", set_archived_article_path(@article), 
                method: :patch, 
                class: "btn btn-outline-warning",
                data: { turbo_confirm: "Are you sure you want to archive this article?" } %>
          <% end %>
          <%= button_to "Delete", @article, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this article?" }, class: "btn btn-danger" %>
          <%= button_to "Back", articles_path, method: :get, class: "btn btn-secondary" %>
          <%= button_to 'Next >', article_path(@next_record), method: :get, class: "btn btn-light" if @next_record %>
        </div>
      </div>
    </div>

  </div>
</div>
