<% content_for :title, @article.title %>

</br>
<div class="card w-50">
  <div class="card-header">
    <%= @article.title %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @article.description %></p>
     <div class="button-group d-flex gap-2"> 
        <%= button_to '< Previous', article_path(@previous_record), method: :get, class: "btn btn-light" if @previous_record %>
        <%= button_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-outline-secondary" %>
        <%= render "archive_modal", article: @article %>
        <%= render "delete_modal", article: @article %>
        <%= button_to "Back", articles_path, method: :get, class: "btn btn-outline-secondary" %>
        <%= button_to 'Next >', article_path(@next_record), method: :get, class: "btn btn-light" if @next_record %>
    </div>
  </div>
  <div class="card-footer small">
    Created: <%= @article.created_at.strftime("%d-%m-%Y %H:%M") %> |
    Last Updated: <%= @article.updated_at.strftime("%d-%m-%Y %H:%M") %>
  </div>
</div>