<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Articles-IO" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" <%= link_to "ARTICLES-IO", root_path, class: "nav-link" %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" <%= link_to "Articles", articles_path, class: "nav-link" %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "About Us", about_path, class: "nav-link" %></a>
            </li>
          </ul>
          <%= button_to "New Article", new_article_path, method: :get, class: "btn btn-outline-success" %>
        </div>
      </div>
    </nav>
    <div class="container-fluid"> <% flash.each do |type, message| %>
        <div class="alert <%= type == 'notice' ? 'alert-warning' : 'alert-danger' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
